{% extends "base.html" %}

    {%block title%}
        Information personnelle
    {% endblock %}

     {% block css %}
         <link rel="stylesheet" href="../static/css/candidat.css"/>  
     {% endblock %}

    {% block menu %}			
    	<li><a href="/">Acceuil</a></li>
		<li><a href="/description">Description</a></li>
		<li><a href="/matching">Matching</a></li>
        {% if current_user.compte == "admin"  %}
            <li><a href ="/admin">Admin</a></li>
        {% elif current_user.compte == "candidat" %}
            <!-- definir les pages que seul le candidat peut acceder -->
        {% elif current_user.compte == "entreprise" %}
            <!-- definir les pages dont seul un entreprise peut acceder -->
        {% endif %}
		<li><a href ="/logout">Logout</a></li>
    {% endblock %}
    
    {% block header %}        
        <div id="heading" >
            <h1>
                Votre profil candidat
    		</h1>
		</div>       
	{% endblock %}
    
    {% block main%}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
					
    				<center>	
                       {% with messages = get_flashed_messages( with_categories=true ) %}
                            {% if messages %}
                                {% for category,msg in messages %}
                                
                                    {% if category =="fail" %}
                                        <div  class ="alert alert-danger alter-dismissable fade show", role="alert">           
                                             {{ msg }} 
                                        </div>
                                    {% else %}
                                        <div  class ="alert alert-success alter-dismissable fade show", role="alert">           
                                             {{ msg }} 
                                        </div>
                                    {% endif %}
                                
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
					</center>
					
					<center>
    					<div class="pagination">
                          <a href="/candidat/approfondir">&laquo;</a>
                          <a href="#" class="active">Information personelle</a>
                          <a href="/candidat/profil">Profil</a>
                          <a href="/candidat/approfondir">Approndir</a>
                          <a href="/candidat/profil">&raquo;</a>
                        </div>
                    </center>
                        						
                            <br>
                            
                                   
									<form method="post" action="#">
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall">
											Nom de famille:
												<input type="text" name="l_name" value="{{current_user.last_name}}"  placeholder="Ton Prénom..." required="requis"/>
											</div>
																											
											<div class="col-6 col-12-xsmall">
											Prénom:
												<input type="text" name="f_name" value="{{current_user.first_name}}" placeholder="Ton Nom..." required="requis"/>
											</div>
											
											<div class="col-6 col-12-xsmall">
											Email:
												<input type="email" name="email" value="{{current_user.email}}"  placeholder="Ton Email..." required="requis"/>
											</div>
											
											<div class="col-6 col-12-xsmall">
											Adresse
												<input type="text" name="adresse" value="{{current_user.adresse}}"  placeholder="Ton addresse..." required="requis"/>
											</div>
											
											<div class="col-6 col-12-xsmall">
											Ville
												<input type="text" name="ville" value="{{current_user.ville}}" placeholder="Ta ville..." required="requis"/>
											</div>
											
											<div class="col-6 col-12-xsmall">
											Code postale
												<input type="text" name="code_postale" value="{{current_user.code_postale}}"  placeholder="Ton code postale..." required="requis"/>
											</div>
          											
											<!-- Break -->
											<div class="col-12">
											Votre sexe:
											{% if current_user.sexe == "homme" %}
											<div class="col-4 col-12-small">
												<input type="radio" id="radio-alpha" name="radio" value="homme" checked>
												<label for="radio-alpha">Homme</label>
											
												<input type="radio" id="radio-beta" name="radio" value="femme">
												<label for="radio-beta">Femme</label>
											</div>
                                            {% else %}
											<div class="col-4 col-12-small">
												<input type="radio" id="radio-alpha" name="radio" id="homme" value="homme">
												<label for="radio-alpha">Homme</label>
												
												<input type="radio" id="radio-beta"  name="radio" id="femme" value="femme" checked>
												<label for="radio-beta">Femme</label>
											</div>
                                             {% endif %}
                                            </div>
											
											<!-- Break -->
											
											<div class="col-12">
												<center><input type="submit" value="valider" class="primary"/> </center>
											</div>
											
										</div>
									</form>

                                   
                                                                                        					
                    </div>
				</div>
			</section>

    {% endblock %}