{% extends "base.html" %}

    {%block title%}
        Admin  -  views
    {% endblock %}

     {% block css %}
         <link rel="stylesheet" href="../static/css/candidat.css"/>  
     {% endblock %}


    {% block menu %}
					<li><a href="/">Acceuil</a></li>
					<li><a href="/description">Description</a></li>
					<li><a href="/candidat/personnelle">identité </a>
					<li><a href="/matching">Matcher</a></li>
					<li><a href ="/logout">Logout</a></li>                   
    {% endblock %}
    

    {% block header %}        
        <div id="heading" >
            <h1>
                Administrateur du site : {{current_user.username}} !
    		</h1>
		</div>       
	{% endblock %}
    
    {% block main%}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
					
    				<center>	
                        {% with messages = get_flashed_messages( with_categories=true ) %}
                            {% if messages %}
                                {% for category,msg in messages %}
                                
                                    {% if category =="fail" %}
                                        <div  class ="alert alert-danger alter-dismissable fade show", role="alert">           
                                             {{ msg }} 
                                        </div>
                                    {% else %}
                                        <div  class ="alert alert-success alter-dismissable fade show", role="alert">           
                                             {{ msg }} 
                                        </div>
                                    {% endif %}
                                
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
					</center>
					
						<header>
							<center> <h3> La base de données utilisateurs actuels </h3> </center>
						</header>
						
					<center>
    					<div class="pagination">
                          <a href="#">&laquo;</a>
                          <a href="#" class="active">Base de doonnées candidat</a>
                          <a href="#">Base de données Entreprise</a>
                          <a href="#">Résultat</a>
                          <a href="#">&raquo;</a>
                        </div>
                    </center>
						
						
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th>Utilisateur</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Type de compte</th>
                                    <th>Date de creation</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for candidat in all_candidats %}
                                <tr>
    								<td>  {{candidat.username}}  </td>
        							<td>  {{candidat.last_name}} </td>
        							<td>  {{candidat.first_name}} </td> 
        							<td>  {{candidat.compte}} </td>    
        							<td>  {{candidat.date}} </td>						                                    
                                    <td>
                                        <button type="submit" name="user_view" value="#"> Consulter </button>
                                        <button type="submit" name="user_delete" value="#"> Delete </button>
                                    </td>
                                </tr>
								{% endfor %}	
                            </tbody>
                        </table>



					</div>
				</div>
			</section>

    {% endblock %}