<!DOCTYPE HTML>
<html>
	<head>
		<title> {% block title %} {% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/">Finder</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
				 {% block menu %}			 
				 {% endblock %}
        		</ul>
			</nav>
        
        {% block header %}
        {% endblock %}
   
		{% block main %}
        {% endblock %}
        
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Vous voulez savoir plus sur notre ecole ? </h3>
							<p>
								<a href="https://www.unilasalle.fr/" target ="_blank">Institut polytechnique UniLaSalle</a> (nom de marque UniLaSalle)
								est l'une des 205 écoles d'ingénieurs françaises accréditées au 1er septembre 2019 à délivrer un diplôme d'ingénieur3.
								Il s'agit d'un établissement d'enseignement supérieur privé d'intérêt général reconnu par l’État qui délivre un enseignement
								dans les domaines de l’agriculture, de l’agroalimentaire, de l’alimentation-santé, de l’environnement et de la géologie.
								Elle dispose de trois campus: Beauvais (Oise), Rouen (Seine Maritime) et Rennes (Ille-et-Vilaine).
							</p>
						</section>
						<section>
							<h4>Lien Utiles</h4>
							<ul class="alt">
								<li><a href="#">Aide et contact.</a></li>
								<li><a href="#">Sécurité.</a></li>
								<li><a href="#">Tarifs.</a></li>
								<li><a href="#">Code de conduite.</a></li>
							</ul>
						</section>
						<section>
							<h4>mieux nous connaître</h4>
							<ul class="plain">
								<li><a href="https://www.linkedin.com" target ="_blank"><i class="icon fa-linkedin">&nbsp;</i>linkedin</a></li>
								<li><a href="https://www.twitter.com" target ="_blank"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="https://www.facebook.com" target ="_blank"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="https://www.github.com" target ="_blank"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; 2020-2021.  <a href="#" target ="_blank">respect de la vie privée</a>, <a href="#" target ="_blank">contrat d'utilisation</a>, template inspiré de <a href="https://templated.co/" target ="_blank">templated.co</a>.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>