{% extends "base.html" %}
    {% block title %}
        Description - Projet Finder
    {% endblock %}

	{% block menu %}
					<li><a href="/login">Login</a></li>
					<li><a href="/">Accueil</a></li>
					<li><a href="/matching">Matcher</a></li>
					<li><a href ="/logout">Logout</a></li>
    {% endblock %}

		
	 {% block header %}
        <div id="heading" >
            <h1>
                Description de Finder
		</h1>
		</div>        
	 {% endblock %}

			
	{% block main %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">

					<!-- Elements -->

						<header>
							<center>
								<h2>
									<p><u>Présentation visuelle du projet </u></p>

										<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR1vIo-XszeDMVgM8P9rBASnRdbcg0BYozV7doheJnRMyYYUSyiLPscKt2jvMRIuw/embed?start=true&loop=true&delayms=3000" frameborder="0" width="640" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
									<hr>
								</h2>
							</center>
						</header>
						
						
						
						<center><h2><u>  Résumé  </u></h2></center>
						<h3> Introduction </h3>
						<br>
						Finder est un pojet que deux etudiants en Master of Science Data Management d'Unilasalle campus de Rouen ont réalisé.
						Ce Projet est en réalité une plateforme que nous voulons construire et qui mettra en relation des offres d'entreprises avec
						le profil des candidats. Le but serait d'essayer de faire la meilleure correspondance qui puisse être entre les deux parties.
						<br>
						<br>
						<h3> Organisation</h3>
						<br>
						Nous avons travaillé à deux sur ce projet pendant une durée totale de 6 semaines. Durant la première semaine nous avons consacré notre
						temps à faire une recherche bibliographique sur le sujet. Dans cette partie il est question de s'informer sur les nouveautés,
						les algorithmes existants de nos jours.
						Durant les deux prochaines semaines, nous nous sommes scinder en deux afin d'être plus efficace sur le travail. Nous avons ainsi débuter la partie
						technique ( le webscrapping des données et leur stockage ainsi que l'agorithme de matching) et en parallèle nous avons aussi débuter la partie
						Economique avec une etude de marché et des concurrents.
						La quatrième et cinquième semaine fût la phase où nous etions en plein dans le sujet en train programmer l'algorithme.
						Durant la dernière semaine, nous avons essayé de peaufiner l'agorithme ainsi que la partie Economique.
						<p>
						<u> NB:</u>  nous avons eu plusieurs réunion hebdomadaire ainsi que des réunion de Design Thinking afin de suivre l'avancé de nos algorithmes.
						Nous avons effectué des comptes rendus pour avoir un suivi des réunions.
						</p>

						<br>
						<h3> Fonctionnement</h3>
						<p>
						<u><b>Candidat:</b></u> Le candidat crée son compte personnelle remplissant ses informations personnelles (Comme tous
						les autres sites web). Ensuite il chargera dans son profil son C.V, Lettre de motivation ainsi que ses recommendation s'il en possède.
						Il pourra ensuite remplir un questionnaire sur sa personnalité et ses ambitions: questionnaire ludique et simple et rapide à completer.
						</p>
						<P>
							le candidat pourra consulter toutes les offres à l'aide d'un moteur de recherche qui lui permettra de faire une recherche par critère:
							Distance (allé/retour), Facturation/Rémunération, <u>Notorieté</u>, <u>Perspective future</u>, <u>Esprit d'entreprise </u> ...
							Après retour de ses résultats, le candidat pourra trier sa liste d'entreprises acceptés en fonction des ces critères.
						</P>

						<p>
							<u><b>Entreprise:</b></u> L'entreprise elle aussi doit commencer par crée un compte pour l'entreprise en inscrivant des informations personnelles
							requises. Ensuite elle pourra remplir les critères du candidat qu'elle recherche (plustard elle pourra deposer ses offres). l'entreprise devra
							aussi remplir un cours quesitonnaire sur elle.
							<br>
							L'entreprise recevra une liste des candidats qui correspondent le mieux à leur cirtère de recherche. Elle pourra des lors
							les arrangér en fonction de la distance, <u>Prétention de facturation</u>, <u>correpondance ( soft et/ou hard skills).</u>
						</p>

						<br>
						<h3> Etude de marché</h3>
						<p>

							Concernant la tendance du marché de recrutement, globalement nous avons observé que la conjecture est positive: du coté des
							candidats, de plus en plus de personnes se lancent dans le freelance on denombre 2.85 millions de d'indépendants en France et
							selon une etude faite: "Le travail indépendants sera aussi répandu que le salariat en Europe.". Du coté des entreprises, la demande
							en emploi s'accroit et donc la recherche aussi d'un processus qui pourrait faciliter le travail des RH se fait ressentir.
							<br>
							Dans le marché il existe deja plusieurs entreprises qui font des algorithmes de recrutement, les plus connus sont: Linkedin, CadreEmploi, Apec, Monster
							Hiresweet. Ce que nous apportons de plus par rapport à ces entreprises et qui selon nous fera la grande différence dans le marché du recrutement par
							algorithme sont:
							<ul>
								<li>Nous prenons <u>100% des soft skills du candidat ET de l'entreprise</u>: nous pensons qu'il est primordial de prendre en compte
								les soft skill d'un candidat car un candidat bien dans sa peau est un candidat qui durera et sera plus efficace. Tout comme il est important
								de prendre en compte les soft skills du candidat pour l'entreprise, il est aussi important pour le candidat d'evaluer les soft skills de l'entreprise
								dans laquelle il pourra potentiellement evoluer. Nous cherchons à rendre les deux parties le plus confortable dans leur peau pour
								ainsi produire plus et mieux. </li>

								<li>
									Nous proposons plusieurs <u>micro-services </u> utiles aux candidats commme aux entreprises.
									<ul style="list-style-type:square">
										<li>
											A base de ce que nous appris sur le candidat,
											nous voulons estimer sa facturation: ceci est très important pour le candidat car cela lui permettra d'eviter d'être sous-payer, eviter le
											phénomène "d'uberisation", nous souhaitons que chaque candidat soit payé à sa juste valeur.
										</li>
										<li>
											A base des informations sur le poste fourni par l'entreprise, nous allons estimer le prix du poste. Cela aussi est très important
											car il permettra aux entreprises de ne surfacturer leur candidats. Il est important pour les entreprises d'eviter les candidats qui
											propose de faire le service pour un moindre prix mais pour effectuer un travail de qualité moyenne.
										</li>
									</ul>
								</li>
								<li>
									l'agorithme de matchmaking possède une interlligence artificielle propre à elle. Cette intelligenc artificielle
									repose sur des méthodes de Machines learning. Ainsi Nos algorithmes ne sont pas statique mais plutot dynamiques:
									A chaque rentrée de donnée, elle ajuste leur classification et améliore leur prédiction. Ceci est Primordial car
									cela prouve qu'avec le temps et la masse de donnée, nos algorithmes ne feront qu'evoluer pour produire des résultats
									plus robustes.
									<u>NB:</u> Nous ne prenons pas en compte les critères discriminatoires (sexe...) pour eviter le phénome qui s'etait
									produit avec amazon.
								</li>
							</ul>
						</p>
						<br>
						<h3> Algorithme</h3>

						L'agorithme se scinde en quatres parties:
						<ul>
							<li>
								L'interface Web: programmé en utisant HTML, CSS, JavaScript, Boostrap. C'est la platerforme que le candidat et l'entreprse
								veront pour faire toute leur opérations. 10 scripts environ qui font au totale plus de 2000 lignes de codes.
							</li>
							<li>
								Webscraping des données: en effet pour donner à manger à notre algorithme, il a fallu donner un plusieurs profils
								de candidats et d'offre afin qu'il puisse s'entrainer. Ce script ce fait purement avec python. Ainsi qu'un script qui sauvegarde
								les données recueilli Dans une base de donnée SQL. 3 Scripts qui font environ 1500 lignes de codes.
							</li>
							<Li>
								Algorithme de matching: Celui-ci sera le coeur de notre projet car c'est lui qui fera la correspondance entre les candidats et les
								ofres. Script à la base réalisé avec python sous google colab (pour leur puissance de calcul gpu) car le temps de traitement de donnée est
								massif. Plusieurs modèles de corrrespondance ont été utilisé pour comparer la précision.
							</Li>
							<li>
								Le lien entre l'interface web et l'algorithme de scraping et la base de donnée et le recueil des données: Nous utilisons flask pour
								faire ce lien.
							</li>
						</ul>

						Le principe de fonctionnement de notre algorithme est à la fois complexe pour qu'il ne soit pas à la portée du premier venu
						mais reste aussi simple à implémenter.
						Nous avons

						<hr>
						<center><h2><u> F.A.Q </u></h2></center>
						<div class = "row">
							<div class="col-6 col-12-medium">

								<!-- Text -->
									<h3><b> D'où nous est venu l'idée ? </b></h3>
									<p>
										<blockquote>
											Dans le cadre de nos études, nous avions un Projet Data à réaliser. Ce projet devait mobiliser l'ensemble
											des connaissances qu'on a appris durant le Master mais aussi celles acquises depuis la première année.
											Allant bientôt être diplomé nous savons à quel point il est parfois difficile de trouver un emploi pour les diverses raisons
											qu'on a mentionné dans la présentation. C'est comme cela que nous ai venu l'idée d'utiliser la data science à notre avantage
											pour faciliter le recrutement. C'est ainsi l'idée s'est etendue aussi à un plus large public et aussi aux recruteurs.
										</blockquote>
									</p>

									<h3><b> Vous avez tout coder vous même ? </b></h3>
									<p>
										<blockquote>
											Nous avons codé à 100% toute la partie python concernant le recueill des données, et la construction de notre modèle.
											<br>
											Nous avons fait 100% du code concernant le lien front-end et back-end avec Flask.
											<br>
											Nous avons codé 60% de l'interface web: car nous voulions juste une interface afin de faire la démonstration.
											<br>
											Nous avons donc codé à nous deux 87% du code qui réalise ce que vous voyez et ce que vous allez voir par la suite;
											Codé en Python, Html, Javascript , Css.
										</blockquote>
									</p>

									<h3><b> Notre organisation ?  </b></h3>
									<p>
										<blockquote>
											En réalité, nous avons eu 6 semaines à temps plein ( sans compté les weekends et jour fériés)
											pour élaborer un POC( proof of concept). Nous n'avons pu que faire le coeur du projet et donc le recueil de quelques données
											ainsi qu'une  première version du modele.
											<br>
											La seconde partie de ce projet s'est faite durant nos stages,nous avons consacré du temps en soirée et les weekends
											pour créer l'interface web ainsi qu'amlériorer le modèle.
											<br>
											Cela a demandé un très grande organisation car nous devions tout aussi être efficaces pour les projets attribués en entreprise.
										</blockquote>
									</p>

							</div>
							<div class="col-6 col-12-medium">

								<h3><b>Avons nous eu un coup de main ?</b></h3>
								<p>
									<blockquote>
										Yes nous avons eu un coup de main. Pour commencer nous avons été encadré par trois proffesionnel du milieu:
										<br>
										<ul>
											<li><b>Mr. Mohammed El Rhabi: </b><em>PhD. Mathématiques appliqués - Traitement d'image et de signal.</em></li>
											<li><b>Mr. Benoit Franck:</b> <em>Senior Data Architect.</em> </li>
											<li><b>Mr. Abdelkader Slifi : </b><em>PhD. Economie</em></li>
										</ul>
										Nous avons aussi la précieuse aide de :
										<ul>
											<li><b>Mr. Victor Sanh: </b><em>Machine Learning Scientist</em></li>
										</ul>
									</blockquote>
								</p>

								<h3><b> êtes vous confiant de la réalisation de ce projet ?  </b></h3>
								<p>
									<blockquote>
										Ce n'est pas de l'excès de confiance, mais non seulement nous avons étudié le marché afin de constater ce qui
										existait nous avons avons eu des encadrants expérimenté qui nous ont conseillé.
										Nous sommes confiant sur le fait que avec le travail et si nous poussons nos capacités au max, ce projet se transformera
										en startup qui pourra décoller.
										Nous avons plusieurs critère que nous prenons en compte qui rendra notre startup <em><u>novatrice</u></em>
									</blockquote>
								</p>


								<h3><b> Remerciements  </b></h3>
								<p>
									<blockquote>
										Nous sommes grandement reconnaissant pour toutes les orientations et tous les soutiens autant techniques que méthodologiques
										que nos encadrants ont pu nous apporter tout au long de ces 2 mois. Tous leurs conseils ont été précieux dans la mise en place et les choix
										du projet et nous seront utiles tout au long de nos carrières respectives.
									</blockquote>
									<blockquote>
										Nous tenons également à remercier Madame TAIBI et Monsieur El RHABI pour l’organisation de ce type de projet qui nous a permis
										d’expérimenter une nouvelle manière de travailler et de valoriser nos connaissances de manière concrète.
									</blockquote>
									<blockquote>
										Nous remercions également toutes les personnes ayant bien voulus répondre à nos questionnaires.
										Les informations précieuses qu’ils nous ont fournies, nous ont permis de recadrer et de poursuivre notre projet dans les meilleures conditions.
									</blockquote>
								</p>

							</div>
						</div>
					</div>
				</div>
			</section>

    {% endblock %}