{% extends "base.html" %}

    {%block title%}
        Generic Page 
    {% endblock %}


    {% block menu %}			
    	<li><a href="/">Acceuil</a></li>
		<li><a href="/description">Description</a></li>
            {% if current_user.compte == "admin"  %}
                <li><a href ="/admin">Admin</a></li>
                <li><a href="/candidat/personnelle">identité</a>
            {% elif current_user.compte == "candidat" %}
                <li><a href="/candidat/personnelle">identité</a>
            {% elif current_user.compte == "entreprise" %}
                <!-- mettre les liens pour entreprises ici -->              
            {% endif %}
		<li><a href ="/logout">Logout</a></li>
    {% endblock %}
    

    {% block header %}        
        <div id="heading" >
            <h1>
                page du candidat
    		</h1>
		</div>       
	{% endblock %}
    
    {% block main%}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content">
					
    				<center>	
                       {% with messages = get_flashed_messages( with_categories=true ) %}
                            {% if messages %}
                                {% for category,msg in messages %}
                                
                                    {% if category =="fail" %}
                                        <div  class ="alert alert-danger alter-dismissable fade show", role="alert">           
                                             {{ msg }} 
                                        </div>
                                    {% else %}
                                        <div  class ="alert alert-success alter-dismissable fade show", role="alert">           
                                             {{ msg }} 
                                        </div>
                                    {% endif %}
                                
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
					</center>
					
    						
                            <h1 align="center">Notes </h1>
                            <!--
                            {% if current_user.cv %}
                                <ul class="list-group list-group-flush" id="notes">
                                  {% for note in current_user.profil.cv  %}
                                  <li class="list-group-item">
                                    {{ current_user.cv}} 
                                    <button type="button" class="close" onClick="deleteNote({{ current_user.profil.id }})">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </li>
                                  {% endfor %}
                                </ul>
                            {% endif %}
                            -->
                            
                            <form method="POST">
                              <textarea name="cv" id="cv" class="form-control"></textarea>
                              <br/>
                              <div align="center">
                                <button type="submit" class="btn btn-primary">valider votre note</button>
                              </div>
                            </form>
            					
                    </div>
				</div>
			</section>

    {% endblock %}