{% extends "base.html" %}

    {% block title%} Projet Finder {% endblock %}

    {% block menu %}
        <li><a href="/login">Login</a></li>
    	<li><a href="/description">Description</a></li>
    	<li><a href="/matching">matcher</a></li>
    	<li><a href ="/logout">Logout</a></li>
    {% endblock %}

	{% block main %}
      <section id="banner">
        <div class="inner">
    		<h1>FINDER</h1>
			<p>Trouvez votre poste idéal. Trouvez votre Candidat idéal.<br />
			Unilasalle Campus de Rouen. </p>
        </div>
        <video autoplay loop muted playsinline src="../static/images/sky.mp4"></video> 
      </section>
    
		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Pourqoui nous ? </h2>
						<p>La bonne question serait plutot: "ET POURQOUI PAS NOUS ?". En effet a travers ce projet nous vous proposons plusieurs avantages qui à coup sur retiendrons votre attention. </p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>Complet</h3>
								</header>
								<p>dans notre selection des critères nous prenons en compte vos hard skills mais aussi vos soft skills
									car nous savons avons à quel point cela est important. </p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Big data</h3>
								</header>
								<p>Nous avons scrappé des milliers de profils de candidats et offres en ligne et l'avons donné à manger
								 à nos modèles pour augmenter leur robustesse.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>Sauvegarde</h3>
								</header>
								<p>Nous gardons vos données car nous savons qu'il y'aura toujours une offre ou un candidat qui correspondra
								à vos critères. </p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Machine Learning</h3>
								</header>
								<p>Le deep learning donnera l'intelligence à nos algorithmes pour effectuer le matching.
								Des libraires et Modèles "STATE OF THE ART". </p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Accessibilité</h3>
								</header>
								<p>Ouvert et fonctionnel pour toutes personnes à la recherche d'un emploi quelqu'en soit son niveau et domaine.
								Ouvert à tous les recruteurs quelqu'en soit les critères que vous cherchez. </p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>Simplicité</h3>
								</header>
								<p>Vous avez accès depuis votre mobile. Vous avez juste à suivre les intructions intuitifs. </p>
							</div>
						</section>
					</div>
				</div>
			</section>

  
		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>RIEN DE PLUS SUR QUE NOS ALGORITHMES DE MATCHMAKING</h2>
					<p>Dans la plupart des cas pour le candidat tout comme pour le recruteur il est très difficile de trouver respectivement son poste et son
					candidat idéal. Nous vous garantissons avec nos algorithmes de pattern matching, une fiabilité , une satisfaction et une rigourosité dans la
					selection. Avec des algorithmes de pointes implémentés avec des couches de machine learning qui ne cessent de s'améliorer
					nous vous garatissons satisfaction.
					</p>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Les Créateurs</h2>
						<p>Deux Etudiants dans le cadre du projet Data pour le master ont réalisé ce projet. Ils l'ont pensé et conçu du début jusqu'à la fin.
							Ils ont eu un temps imparti pour faire un premier Poc (proof of concept) avec d'aller en Stage. Vous voulez savoir plus sur nous ?
						</p>
					</header>

					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Etudiante lasallienne issue du campus de Rouen. Ingénieur Agronome & Master of Science and Food Data Management.</p>
										<p>
											<a href="https://www.linkedin.com/in/aurélie-mollier-167898192/" target ="_blank"> linkedin </a>
										</p>

								</blockquote>
								<div class="author">
									<div class="image">
										<img src="../static/images/aurelie_image.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Aurelie Mollier</strong> <span>CEO & CMO -</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Etudiant lasallien issue du campus de Rouen.
										Ingénieur agronome & Master of Science and Food Data Management. Passioné par le monde de la Data Science.</p>
										<p>
											<a href="https://www.linkedin.com/in/loic-eyango/ " target="_blank"> linkedin </a>
										</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="../static/images/loic_image.jpg" alt="" />
									</div>
									<p class="credit">- <strong>Eyango Loïc</strong> <span>CEO & CTO -</span></p>
								</div>
							</div>
						</section>

					</div>
				</div>
			</section>

    {%endblock%}