<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="../static/css/login.css" />
    <link rel="stylesheet" href="../static/css/candidat.css"/>  
</head>
<body>
<h1> <span>&#8592;</span>  <a href ="/"> FINDER </a> </h1>

<div class="login">

    {% with messages = get_flashed_messages( with_categories=true ) %}
         {% if messages %}
             {% for category,msg in messages %}
             
                 {% if category =="fail" %}
                     <div  class ="alert alert-danger alter-dismissable fade show", role="alert">           
                          {{ msg }} 
                     </div>
                 {% else %}
                     <div  class ="alert alert-success alter-dismissable fade show", role="alert">           
                          {{ msg }} 
                     </div>
                 {% endif %}
             
             {% endfor %}
         {% endif %}
     {% endwith %}

  <h1>Sign Up</h1>
  
    <center>
        <div class="pagination">
           <a href="/signup">Candidat</a>
           <a href="#" class="active">Entreprise</a>
        </div>
    </center>
  
      <br>
  
    <form method="post" action="#">
        <input type="text" name="entreprise" placeholder="Nom de l'entreprise" required="requis" />
        <input type="text" name="utilisateur" placeholder="Utilisateur" required="requis" />
        <input type="number" name="siret" placeholder="Siret" required="requis" />
        <input type="email" name="email" placeholder="Email" required="requis" />
        <input type="password" name="mdp" placeholder="Mot de passe" required="requis" />
        <input type="password" name="mdp_check" placeholder="Confirmez mot de passe" required="requis" />

        <button type="submit" class="btn btn-primary btn-block btn-large", value="entreprise">Enregistrer</button>
    </form>
    <p><center> <span>&#8592;</span>  <a href ="/login">retour sur login</a> </center> <p>
</div>

</body>
</html>